{% extends "base.html"%}
{%block title%} Registrar Nuevo Usuario {%endblock%}
{%block content%}
<div class="card text-black mb-3 mx-auto" style="width: 29rem;opacity:0.9">
    <h4 class="card-header">
        Registrar Nuevo usuario
    </h4>
    <div class="card-body">
        <form action="" class="was-validate" method="post" enctype="multipart/form-data">

            {%csrf_token%}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit"> Registrar</button>
        </form>

    </div>

</div>
{%endblock%}